<div class="auth-wrapper">
    <div class="auth-content">
      <div class="card" style="width: 25rem;" >
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" />
              <h4 class="mb-3 f-w-400">Password Reset</h4>
              <form [formGroup]="form" (submit)="onSubmit()">
              <div class="input-group mb-3">
                <span class="input-group-text" id="cPassword"><i class="feather icon-lock"></i></span>
                <input type="password" class="form-control" formControlName="password" placeholder="Current password" aria-label="password" aria-describedby="password" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="newPassword"><i class="feather icon-lock"></i></span>
                <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password" aria-label="Password" aria-describedby="newPassword" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="newPassword2"><i class="feather icon-lock"></i></span>
                <input type="password" class="form-control" formControlName="newPassword2" placeholder="Confirm New Password" aria-label="Password" aria-describedby="newPassword2" />
              </div>
             
              <div class="d-grid">
                <button class="btn btn-block btn-primary mb-4" [disabled]="form.invalid">Reset</button>
              </div>
            </form>
              <p class="mb-0 text-muted">
                Don’t have an account?
                <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  